@font-face {
    font-family: "Quesha";
    src: url("../fonts/Quesha-gndR.ttf");
}

html, body {
    height: 100%;
}

body {
    font-family: "Quesha", Calibri, sans-serif;
}

html, body, ul, .page_wrap {
    margin: 0;
    padding: 0;
}

.home, .about, .menu {
    height: 100vh;
    position: relative;
}

.page_content {
    position: relative;
}

.home:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    background: url("../images/rest_interior.jpg") no-repeat;
    background-size: cover;
}

.about:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    background: url("../images/rest_int2.jpeg") no-repeat;
    background-size: cover;
}

.menu_detail, .location_detail {
    background: linear-gradient(to bottom, #579d65, #74BB83);
    background-size: cover;
    height: 100vh;
}

.menu:before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    background: url("../images/pasta_bg.jpg");
    background-size: cover;
}

.contact:before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    background: url("../images/rest_seating.jpg");
    background-size: cover;
}

.reserve:before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    background: url("../images/tomato_bg.jpg");
    background-size: cover;
}

nav {
    background-color: rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    left: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav li {
    padding: 1.5rem;
}

nav a:link, nav a:visited {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #f7eabb;
    text-shadow: 0.1rem 0.1rem 0.5rem #191400;
}

nav a:hover, nav a:focus {
    color: #91e97a;
}

nav a:active {
    color: white;
}

.main_wrap {
    width: 80%;
    margin: 0 auto;
}

.main_heading {
    font-size: 4rem;
    font-style: italic;
    letter-spacing: 0.2rem;
    text-align: center;
    color: #b2f4c2;
    text-shadow: 0.1rem 0.1rem 1.9rem #030b00;
}

.home_menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.home_menu a:link, .home_menu a:visited {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #aff7bf;
    background-color: rgba(0, 25, 10, 0.5);
    padding: 1.5rem;
    border-radius: 2.5rem;
}

.home_menu a:hover, .home_menu a:focus {
    color: #579d65;
    background-color: rgba(0, 25, 10, 0.8);
}

.home_menu a:active {
    color: #00190A;
    background-color: #579d65;
}