@font-face {
    font-family: "Quesha";
    src: url("../fonts/Quesha-gndR.ttf");
}

html, body {
    height: 100%;
}

body {
    font-family: "Quesha", Calibri, sans-serif;
}

html, body, ul, .page_wrap {
    margin: 0;
    padding: 0;
}

.home, .about, .menu {
    height: 100vh;
    position: relative;
}

.page_content {
    position: relative;
}

.home:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: url("../images/rest_interior.jpg") no-repeat;
    background-size: cover;
}

.about:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: url("../images/rest_int2.jpeg") no-repeat;
    background-size: cover;
}

.menu_detail, .location_detail {
    background: linear-gradient(to bottom, #579d65, #74BB83);
    background-size: cover;
    height: 100vh;
}

.menu:before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: url("../images/pasta_bg.jpg");
    background-size: cover;
}

.contact:before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: url("../images/rest_seating.jpg");
    background-size: cover;
}

.reserve:before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: url("../images/tomato_bg.jpg");
    background-size: cover;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}