{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"
</head>
<body>
   <div class="page_wrap {% block page %}{% endblock %}">
       <div class="page_content">
           <nav>
               <ul>
                   <li><a href="{% url 'home' %}">Home</a> </li>
                   <li><a href="{% url 'about' %}">About</a> </li>
                   <li><a href="{% url 'menu' %}">Menu</a> </li>
                   <li><a href="{% url 'contact' %}">Locations</a> </li>
                   <li><a href="{% url 'reservation' %}">Reservations</a></li>
               </ul>
           </nav>
           <main>
               <div>
                   {% block content %}
                   {% endblock %}
               </div>
           </main>
       </div>
   </div>
</body>
</html>