{% extends 'base.html' %}
{% block title %}Restaurant - Contact{% endblock %}
{% block page %}contact{% endblock %}
{% block heading_class %}page_heading{% endblock %}
{% block heading %}Locations{% endblock %}
{% block content %}
    <dl class="location_display">
        {% for row in location_list %}
            <div class="location_card">
                <dt>{{ row.city }}</dt>
                <dd><a href="{% url 'location' row.pk %}">{{ row.unit_no }} {{ row.street }}</a> </dd>
                <dd>{{ row.postal }}</dd>
                <dd>{{ row.phone }}</dd>
            </div>
        {% endfor %}
    </dl>
{% endblock %}