{% extends 'base.html' %}
{% block title %}Restaurant - {{ location.city }}{% endblock %}
{% block page %}location_detail{% endblock %}
{% block heading_class %}page_heading{% endblock %}
{% block heading %}Find Location{% endblock %}
{% block content %}
    <iframe src="https://www.google.com/maps/embed/"></iframe>
    <ul>
        <li>{{ location.unit_no }} {{ location.street }}</li>
        <li>{{ location.city }} {{ location.postal }}</li>
        <li>{{ location.phone }}</li>
        <li>Open 12:30pm - 11:30pm</li>
    </ul>
{% endblock %}