{% extends 'base.html' %}
{% load  static%}

{% block title %}Restaurant - Menu {% endblock %}

{% block page %}menu{% endblock %}
{% block content %}
    <h2>Menu</h2>
    <ul>
    {% for item in items %}
        <li>
            <h3>{{ item.1 }}</h3>
            <ul>
                {% for row in item_list %}
                    {% if row.type == item.0 %}
                        <li>
                            {% if row.status == 0 %}
                                <h4><del>{{ row.name }}</del></h4>
                            {% else %}
                                <a href="{% url 'menu_item' row.pk %}"><h4>{{ row.name }}</h4></a>
                            {% endif %}
                            <span>{{ row.price }}</span>
                        </li>
                        <li>{{ row.description }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}