{% extends 'base.html' %}
{% load  static%}

{% block title %}Restaurant - Menu {% endblock %}
{% block page %}menu{% endblock %}
{% block heading_class %}page_heading{% endblock %}
{% block heading %}Menu{% endblock %}
{% block content %}
    <ul>
    {% for item in items %}
        <li>
            <h3>{{ item.1 }}</h3>
            <dl>
                {% for row in item_list %}
                    {% if row.type == item.0 %}
                        <dt>
                            {% if row.status == 0 %}
                                <del>{{ row.name }}</del>
                            {% else %}
                                <a href="{% url 'menu_item' row.pk %}">{{ row.name }}</a>
                            {% endif %}
                            <span>{{ row.price }}</span>
                        </dt>
                        <dd>{{ row.description }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
        </li>
    {% endfor %}
    </ul>
{% endblock %}