{% extends 'base.html' %}
{% load static %}
{% block title %}Restaurant - {{ item.name }}{% endblock %}
{% block page %}menu_detail{% endblock %}
{% block heading_class %}page_heading{% endblock %}
{% block heading %}{{ item.name }}{% endblock %}
{% block content %}
    <div class="menu_item">
        <div class="menu_description">
            <p>{{ item.description }}</p>
            <p>{{ item.price }}</p>
        </div>
        <figure class="menu_image">
            <img src="{% static  item.image_url%}" alt="{{ item.name }}">
        </figure>
    </div>
{% endblock %}